.full-menu-main-ctn {
    width: 100%;
    height: 100vh;
    background-color: rgb(41,41,51);
    display: flex;
    flex-direction: column;
}

.game-button-text {
    /*text-align: center;*/
    color: #1f4e60;
    /* position: absolute;
    top: 100px;
    width: 340px;
    font-size: 40px;*/
    width: 340px;
    font-weight: bold;
  }

  .home-ctn {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /*position verticale */
    align-items: center;  /*position horizontale */
    text-align: center;
    padding: 20px;
  }